/* usgin google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html * {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  width: 100%;
  overflow-x:hidden;
}

.title{
  font-family: "Poppins", sans-serif;
}

.offcanvas-start {
  width: 100% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.textwarning {
  color: #f79837 !important;
}
.btn {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}


/* header banner */
.background-container{
  background-image: url('../component//images/img/banner_3.71b74319.jpg');
  background-size: cover;
  background-position: center;
}


/* table style */

#card-page {
  font-family: "Poppins", sans-serif;
}

td{
  background-color: #f5f5f5 !important;
  text-align: center;
  padding: 8px;
}

th{
  background-color: #f79837 !important;
  padding: 20px !important;
  text-align: center !important;
  color: #fff !important;
}

#table-tr-bg {
  background-color: #f79837 !important;
  border-bottom: none;
  color: #fff;
  border: none;
}
.cart-page table {
  border-collapse: unset;
}

.table-responsive {
  overflow-x: auto;
}



#header{
  height: 100vh;
}